<template name="layout">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'pictureList'}}">Technology Babies</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="nav">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
            <li><a href="{{pathFor 'pictureList'}}">Play</a></li>
            <li><a href="{{pathFor 'results'}}">Results</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {{> meteorErrors}}

  <div class="container">
    <div class="row">
      {{#if currentUser}}
        {{> yield}}
      {{else}}
        <p>Create an account or sign in above!</p>
      {{/if}}
    </div>
  </div>
</template>
