<template name="results">
  <h1>Results</h1>
  <p>There were {{total}} pictures to guess in the game.</p>
  <ol>
  {{#each results}}
    <li>{{player}}: {{correct}}</li>
  {{/each}}
  </ol>
</template>
