<template name="account">
  <h2>Account Information</h2>
  <form class="col-sm-6">
    {{#each emails}}
      <p>Email: {{address}}</p>
    {{/each}}

    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" class="form-control" value="{{name}}" type="text">
    </div>

    <div class="form-group">
      <label for="picture">Picture</label>
      <input name="picture" type="file">
    </div>

    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </form>
</template>
