<template name="pictureList">
  <form>
    <div class="pictures">
      {{#each pictures}}
        {{> picture}}
      {{/each}}
    </div>
    <div class="players">
      {{> playersList}}
      <div class="submit">
        <input type="submit" class="matches__submit btn btn-warning btn-block" value="Submit">
      </div>
    </div>
  </form>
</template>
