<template name="picture">
  <div class="pictures__picture">
    <div class="panel">
      <div class="pictures__image" data-id="{{player}}"><img src="images/{{src}}"></div>
      <btn class="pictures__match matchable btn-block">{{#if played}}{{name}}{{/if}}</btn>
    </div>
  </div>
</template>
