@import "packages/less-bootstrap-3/lib/less/bootstrap.import.less";

.pictures {
  .make-sm-column(9);
  &__picture {
    .make-sm-column(6);
    .make-md-column(4);
  }
  &__title {
    .text-center;
  }
  &__image {
    background-color: @gray-lighter;
    height: 200px;
    .center-block;
    width: 200px;

    img {
      height: 200px;
    }
  }
  &__match {
    border: 1px solid @gray-light;
    height: (@line-height-computed * 2);
    .text-center;
  }
}
.players {
  .make-sm-column(3);
  .make-sm-column-offset(8);
  position: fixed;
  &__player {
    .btn;
    .btn-sm;
    margin-bottom: @padding-base-horizontal;

  }
}

.submit {
  padding-top: @padding-large-vertical;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}
